<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>pachikuriii's memo</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <h1>&#128064; pachikuriii's memo &#128064;</h1>
  <%= yield %>
</body>

</html>