<form method="post" action="/memos">
  <input type="text" name="title" required maxlength="20" class="title">
  <textarea type="text" name="content" required maxlength="200" class="content"></textarea>
  <input type="submit" value="保存" class="button">
</form>