
<h1><%= @title %></h1>
<p><%= @content %></p>
<div class="buttons-wrapper">
<a href="/memos/<%= params["id"] %>/edit" class="button">変更</a>
<form method="post" action="/memos/<%= params["id"] %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除" class="button">
</form>
</div>

<a href="/" class="back">&#9664;&#65039; もどる</a>

