 <form method="post" action="/memos/<%= params["id"] %>">
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="title" value="<%= @title %>" required>
  <textarea type="text" name="content" required><%= @content %></textarea>
  <input type="submit" value="変更" class="button">
</form>


